[manual_stepper fibre_extruder]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 64.7
#   See the "stepper" section for a description of these parameters.
#velocity:
#   Set the default velocity (in mm/s) for the stepper. This value
#   will be used if a MANUAL_STEPPER command does not specify a SPEED
#   parameter. The default is 5mm/s.
#accel:
#   Set the default acceleration (in mm/s^2) for the stepper. An
#   acceleration of zero will result in no acceleration. This value
#   will be used if a MANUAL_STEPPER command does not specify an ACCEL
#   parameter. The default is zero.
#endstop_pin:
#   Endstop switch detection pin. If specified, then one may perform
#   "homing moves" by adding a STOP_ON_ENDSTOP parameter to
#   MANUAL_STEPPER movement commands.
#position_min:
#position_max:
#   The minimum and maximum position the stepper can be commanded to
#   move to. If specified then one may not command the stepper to move
#   past the given position. Note that these limits do not prevent
#   setting an arbitrary position with the `MANUAL_STEPPER
#   SET_POSITION=x` command. The default is to not enforce a limit.

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
    MANUAL_STEPPER STEPPER=fibre_extruder GCODE_AXIS=U

[gcode_macro CUT]
gcode:
    SET_SERVO SERVO=cutter angle=0
    G4 P400
    SET_SERVO SERVO=cutter angle=90

[gcode_macro PRIME_FIBRE]
gcode:
    MANUAL_STEPPER STEPPER=fibre_extruder GCODE_AXIS=
    MANUAL_STEPPER STEPPER=fibre_extruder SET_POSITION=0
    MANUAL_STEPPER STEPPER=fibre_extruder GCODE_AXIS=U
    G1 U47 F500
    MANUAL_STEPPER STEPPER=fibre_extruder GCODE_AXIS=
    MANUAL_STEPPER STEPPER=fibre_extruder SET_POSITION=0
    MANUAL_STEPPER STEPPER=fibre_extruder GCODE_AXIS=U