[toolchanger]
# save_current_tool: false
#  If set, saves currently selected tool and makes it available for 
# initialize gcode.
initialize_on: first-use
# When this toolchanger gets initialized.
#  - manual: only when INITIALIZE_TOOLCHANGER is called.
#  - home: when homing the printer.
#  - first-use: on first toolchange command.
verify_tool_pickup: False
# If tool detection is available, will verify tool presence after pickp_gcode
require_tool_present: False
# Raise error if no tool present on init or on unmount. 
# Use in case the tool contains crucial sensors for the printer to operate/home.  
uses_axis: xyz
# Axis used by the tool change process
on_axis_not_homed: home
# When required axis are not homed
# - abort: aborts the command
# - home: attempts to home the axis
transfer_fan_speed: True
# When tre, fan speed is transferred during toolchange. When false, fan speeds are not changed during toolchange.

[tool T0]
tool_number: 0
extruder: extruder
# fan: fan
# detection_pin: # Only required for non TAP probing.
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
pickup_gcode:
    G90

    G1 Y10 F8000
    G1 X284
    G1 Y0
    G1 X305 F2000
    G1 Y10 F8000
    G1 X317
    G1 Y60

[tool T1]
tool_number: 1
extruder: extruder1
# fan: fan
# detection_pin: # Only required for non TAP probing.
gcode_x_offset: -17.5
gcode_y_offset: 1.1
gcode_z_offset: -1.55
pickup_gcode:
    G90

    G1 Y10 F8000
    G1 X322
    G1 Y0
    G1 X302 F2000
    G1 Y10 F8000
    G1 X315
    G1 Y60